header {
    border-bottom: 4px solid #49A37B;
    padding-bottom: 10px;
    display: flex;
    align-items: baseline;
    margin-bottom: 30px;
    margin-top: 10px;
}
.btn-menu {
    top: 15px;
    margin-right: 5%;
}
.btn-menu img {
    width: 35px;
}